{
  "env": {
    "browser": true,
    "es6": true
  },
  "exteneds": [

  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "Readonly"
  },
  "ParserOptions": {
    "ecmaVersion": "2018",
    "sourceType": "module"
  },
  "rules":{

  }
}